.table-container {
    width: 100%;
    overflow-x: auto;
    border: 1px solid #fff;
    border-radius: 25px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #5f5f5f;
  }
  
  .table__img{
    width: 50px;
  }

  .table-font-red{
    color: rgb(236, 4, 4);
    font-weight: bold;
}

.table-font-green{
    color: rgb(38, 182, 38);
    font-weight: bold;
  }

  .cryptoSearch__title{
    font-size: 3rem;
  }

  tr{
    cursor: pointer;
    transition: 0.3s;

  }

  tr:hover{
    background-color: #303030;
  }


  @media screen and (max-width:560px) {
    #table__market{
      display: none;
    }

    #table__market--td{
      display: none;
    }

    th, td {
      padding: 5px;
      font-size: 0.65rem;
    }
    
    .table__img{
      width: 30px;
    }

  }